* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.margin-0 {
  margin: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.margin-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.margin-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.margin-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.margin-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.margin-6 {
  margin: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.top-header {
  height: 25px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #0282f9;
}
.top-header a {
  color: white;
}
.top-header .container,
.top-header ul {
  height: 100%;
}

.bottom-header {
  max-height: 115px;
  padding: 1rem;
}
.bottom-header .wrapper-logo {
  max-width: 80px;
}
.bottom-header .main-menu li {
  margin: 0 10px;
}
.bottom-header .main-menu li a {
  font-size: 0.95rem;
  font-weight: 600;
  color: #1c1c1c;
}
.bottom-header .search-bar {
  padding: 0.3rem 0;
  border: 0;
  border-bottom: 2px solid #0282f9;
}
.bottom-header .search-bar::-moz-placeholder {
  font-weight: 600;
}
.bottom-header .search-bar:-ms-input-placeholder {
  font-weight: 600;
}
.bottom-header .search-bar::placeholder {
  font-weight: 600;
}

.home-main {
  background-color: #1c1c1c;
}
.home-main .comic-list {
  padding: 1rem;
}
.home-main .comic-list .comic-item {
  margin: 1%;
  max-width: 13%;
  overflow-wrap: break-word;
}

.hero {
  position: relative;
  height: 450px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
  background-position: center;
}
.hero::after {
  display: block;
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  content: "";
  background-color: #0282f9;
  z-index: 1;
}
.hero .container-small {
  height: 100%;
}
.hero .container-small img {
  position: absolute;
  bottom: 15px;
  z-index: 2;
}

.comic-detail {
  flex-basis: 65%;
}
.comic-detail h2 {
  color: #003f5e;
}
.comic-detail .price {
  font-size: 0.9rem;
  color: white;
  background-color: #55ba59;
  border-bottom: 1px solid rgba(0, 63, 94, 0.7);
}
.comic-detail .price div {
  padding: 1rem;
}
.comic-detail .price div:first-of-type {
  flex-basis: 70%;
  border-right: 1px solid rgba(0, 63, 94, 0.7);
}
.comic-detail .price div:first-of-type span:last-of-type {
  color: #bafd9c;
}
.comic-detail .price div:last-of-type {
  flex-basis: 30%;
}

.description p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.6);
}
.description p:first-of-type {
  color: rgba(0, 0, 0, 0.8);
}
.description p:only-of-type {
  color: rgba(0, 0, 0, 0.6);
}

.adv {
  flex-basis: 30%;
}

.comic-info {
  padding: 2rem;
  background-color: #f6f6f6;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.comic-info h1 {
  color: #003f5e;
}
.comic-info h2 {
  color: #003f5e;
}
.comic-info h3 {
  color: #003f5e;
}
.comic-info h4 {
  color: #003f5e;
}
.comic-info h5 {
  color: #003f5e;
}
.comic-info h6 {
  color: #003f5e;
}

.info {
  flex-basis: 45%;
  font-weight: 600;
}
.info .info-box {
  padding: 1rem 0;
  color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.info .info-box.highlight {
  color: #1db2dc;
}
.info .info-box:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.info .info-box h5 {
  flex-basis: 35%;
}
.info .info-box span {
  font-size: 0.9rem;
}