* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $main-font;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 .5rem;
}