// Flex utilities
.flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

// Spacing
@each $size in 0, 1, 2, 3, 4, 5, 6 {
  .margin-#{$size} {
    margin: $size + 0rem;
  }
  .mt-#{$size} {
    margin-top: $size + 0rem;
  }
  .mb-#{$size} {
    margin-bottom: $size + 0rem;
  }
  .ml-#{$size} {
    margin-left: $size + 0rem;
  }
  .mr-#{$size} {
    margin-right: $size + 0rem;
  }
}

// Text utilities
.text-center {
  text-align: center;
}

// Image responsive
img {
  max-width: 100%;
}

// Other
ul {
  list-style: none;
}